.boxA,.boxB,.boxD,.boxE{
    width:800px;
    margin:0 auto;
}
.certification{
    margin-top:20px; 
}
.certification input[type=radio]{
    display: none;
}
.certification input[type=radio] + label{
    font-size: 13px;
    width:100px;
    height: 20px;
    display: inline-block;
    text-align: center;  
}
.certification input[type=radio] + label:before{
    display: inline-block;
    width:15px;
    height: 15px;
    background-color: #fea89b;
    content:'';
    margin-right: 5px;
    vertical-align: bottom;
    border-radius: 2px;
}
.certification input[type=radio]:checked + label:before{
    content:'\2713';
    color: #fff;
}
.certification button{
    background-color: rgba(255,255,255,1);
    padding:5px 10px;
    margin-left: 130px;
    margin-top:10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 2px;
    border:solid 1px #dddddd;
    outline: 0;
    
}
.certification button:hover{
    border:solid 1px #ab8e7c;
    
}
.certification p{
    font-size: 12px;
    margin-top:5px;
    margin-left: 10px;
}
.boxA{
    height: 100px;
}
.infor{
    margin-top:50px;
}
.infor{
    font-size: 12px;
}
.infor p{
    font-size: 13px;
    text-align: right;
    margin-right: 10px;
}
.infor table{
    margin-top:15px;
    padding-top:15px;
    border-top:solid 1px #dddddd;
}
.infor span{
    color:red;
}
.infor td{
    padding: 5px 0px;
}
input[type=checkbox]+label{
    font-size: 13px;
}
input[class='smalltext']{
    width:50px;
}
input[class='normaltext']{
    width:90px;
}
.infor option{
    font-size: 12px;
}
.infor input[type=radio]+label{
    font-size: 12px;
    
}
.addinfo{
    margin:20px 0px;
    padding:10px 0px;
    border-top:solid 1px #dddddd;
}
.addinfo table{
    width:auto;
    margin-top:15px;
    padding-top:15px;
    font-size: 13px;
}
.addinfo td{
    padding: 5px 10px;
}
.addinfo small{
    font-size: 12px;
    margin-left: 5px;
}
.noresize{
    resize:none;
    width:800px;
    height: 150px;
    font-size: 13px;
    margin-top:30px;
}
.agree_check{
    font-size: 13px;
    margin:10px;
}
.agree_check p{
    display: inline;
    margin-right: 20px;
}
.agree_all{
    margin-top:20px;
    padding-left: 20px;
}
#allagree+label{
    font-size: 15px;
    
}
.confirm h5{
    margin-bottom: 30px;
    text-align: right;
    font-size: 12px;
}
.confirm{
    text-align: center;
}
.confirm input{
    margin:20px 10px;
    padding:10px;
    display: inline-block;
    border: solid 1px #ab8e7c;
    background-color: #eeeeee;
    cursor: pointer;
    border-radius: 2px;
    outline: 0;
    font-size: 12px;
    font-weight: bold;
    
}
.confirm input:hover{
    opacity: 0.8;
}

.boxE{
    height: 130px;
    margin-top:30px;
    margin-bottom: 200px;
}