*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none;}
.boxB,.boxC,.boxD,.boxE,.boxF,.boxG,.boxH{
    width:1000px;
    margin:0 auto;
}
.boxA{
    padding-top:50px;
    width:800px;
    margin:0 auto;
}
.mainimg{
    float: left;
    width:50%;
}
.img_side{
    float: left;
    width:50%;
    border-bottom: solid 1px #dddddd;
    padding-bottom: 10px;
}
.boxA:after{
    display: block;
    content:'';
    clear: both;
}
.mainimg img{
    width:300px;
}
.mainimg li.on{
    display: block;
}
.mainimg li{
    display: none;
}
.story{
    margin-bottom: 10px;
}
.story h3{
    font-weight: normal;
    padding-bottom: 10px;
}
.story_label{
    text-align: center;
    width:400px;
    height: 20px;
    margin-bottom: 10px;     
}
.story_label li{
    float: left;
    width:85px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
    margin:0 5px;
    cursor: pointer;
}
.story_label li:first-child{
    color:#fff;
    background-color:#ff9999;
}
.story_label li:last-child{
    color:#8185a0;
    background-color:#fff;
    border:solid 1px #8185a0;
    box-sizing: border-box;
}
.story p{
    font-size: 12px;
    display: block;   
}
.price{
    position:relative;
    margin-top:20px;
    border-top: solid 1px #dddddd;
}
.price table td{
    padding:5px;
}
.price table td:first-child{
    font-size: 13px;
    color:dimgrey;
    text-align: right;
}
.price table td:last-child{
    font-size: 14px;
    color:dimgrey;
    padding-left: 10px;
}
.price span{
    text-decoration:line-through;
}
.fa-facebook-square{
    font-size: 28px;
    color: #3b5998;
}
.fa-twitter-square{
    font-size: 28px;
    color: #1da1f2;
}
.price input[type=button]{
    padding: 5px 8px;
    border:solid 1px #eeeeee;
    cursor: pointer;
    font-size: 12px;
}
.price input[type=button]:hover{
    opacity: 0.8;
}
.card_info{
    display: none;
    position:absolute;
}
.price select{
    padding:2px 2px;
    border-radius: 2px;
}
.boxB{
    height: 300px;
    border-bottom: solid 1px #dddddd;
}
.buy{
    padding-top:10px;
    padding-left: 500px;
}
.buy table{
    font-size: 13px;
}
.buy table td{
    padding:10px 10px;
}
.buy input[class=none]{
    border:none;
    font-size: 12px;
}
.buy table span{
    font-weight: bold;
}
.buy_btn{
    text-align: right;
    margin-right: 40px;
}
.buy_btn input[class=btn1]{
    display: none;
}
.buy_btn input[class=btn1]+label{
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    width:150px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    margin:20px 10px;
    transform: scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
}
.buy_btn input[class=btn1]+label:hover{
    transform: scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
}
.buy_btn input[name=cart_in]+label{
    background-color: #744f47;
    color:#fff;
}
.buy_btn input[name=buy_now]+label{
    color:#fff;
    background-color: #f56066;   
}
.boxC{
    margin-top:100px;
}
.boxC img{
    display: block;
    margin:0 auto;
}
.item img{
    width:160px;
    height: 214px;
}
.item{
    float: left;
}
.boxD:after{
    clear: both;
    display: block;
    content:'';
}
.item li a{
    display: block;
    padding:0 10px;
}
.recommend_item{
    width:900px;
    display: inline-block;
    height: 220px;
    margin-top:15px;
}
.boxD{
    height: 250px;
    margin-top:20px;
    text-align: center;
    position:relative;
    
}
.boxE{
    height: 40px;
}
.item li.view{
    display: block;
}
.item li{
    display: none;
}
.go_left,.go_right{
    display: inline-block;
    font-size: 25px;
    width:25px;
    height: 25px;
    position: absolute;
    top:112.5px;
    cursor: pointer;
}
.go_left{
    left: 0;
}
.go_right{
    right: 0;
}
.detail_nav{
    margin-top:40px;
    text-align: center;
}
.detail_nav li{
    float: left;
    width:25%;
}
.detail_nav li a{
    display: block;
    padding:10px;
    border:solid 1px #eeeeee;
    font-size: 12px;
    font-weight: 600;
    color:dimgray;
}
.detail_nav li a.active{
    background-color: #eeeeee;
}
.tip{
    text-align: center;   
}
.tip h4,p{
    font-size: 14px;
}
.boxF{
    margin-top:50px;
}
.coupon{
    text-align: center;
}
.coupon img{
    height: 160px;
    margin: 20px 10px;
}
.content_main img{
    margin-bottom: 100px;
}
.content_main{
    margin-top:300px;
}
.content_text{
    padding-left: 50px;
    margin-bottom: 80px;
}
.content_text h1{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}
.content_text h2{
    border-left: solid 8px #ff9c9b;
    padding-left: 5px;
    font-weight: normal;
    color:#6d3f25;
    margin-bottom: 10px;
}
.content_text p{
    line-height: 25px;
    color:#7a6456;
}
.content_text span{
    font-weight: bold;
    font-size: 18px;
}
.content_second img{
    margin-bottom: 100px;
}